/*------------- CSS PARA CONTAMINACION --------------*/

.banner-imageCont {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../imagenes/contaminacion.jpg);
    background-size: cover;
}

.title{
    text-align: center;
    font-size: 40px;
    color: #6a6a6a;
    margin-top: 100px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}


